Repository react-native-community/cli, pull requests merged in 2019-04, with the labels that each got.

#254 Standardise configuration mechanism
  packages/cli/package.json
  packages/cli/src/cliEntry.js
  packages/cli/src/commands/config/config.js
  packages/cli/src/commands/index.js
  packages/cli/src/commands/info/__tests__/info.test.js
  packages/cli/src/commands/link/getDependencyConfig.js
  packages/cli/src/commands/link/getProjectConfig.js
  packages/cli/src/commands/link/linkAll.js
  packages/cli/src/commands/upgrade/__tests__/upgrade.test.js
  packages/cli/src/tools/config/__tests__/__snapshots__/index.js.snap
  packages/cli/src/tools/config/__tests__/index.js
  packages/cli/src/tools/config/findDependencies.js
  packages/cli/src/tools/config/index.js
  packages/cli/src/tools/config/readConfigFromDisk.js
  packages/cli/src/tools/config/resolveReactNativePath.js
  packages/cli/src/tools/config/schema.js
  packages/cli/src/tools/config/types.flow.js
  packages/cli/src/tools/errors.js
  packages/cli/src/tools/getLegacyConfig.js
  packages/cli/src/tools/loadMetroConfig.js
  packages/cli/src/tools/types.flow.js
  yarn.lock
Labels: command: config

#258 feat: autolinking for Android with Gradle
  packages/cli/src/commands/init/__fixtures__/editTemplate/node_modules/PlaceholderName
  packages/platform-android/native_modules.gradle
  packages/platform-android/package.json
Labels: command: config, platform: android

#339 fix: [android][linking] Remove deprecated task syntax
  packages/platform-android/native_modules.gradle
Labels: platform: android

#340 [android] remove forward slashes from package name
  packages/platform-android/native_modules.gradle
Labels: command: config, platform: android
