Repository react-native-community/cli, pull requests merged in 2024-11, with the labels that each got.

#2543 fix: handle libraries using build.gradle.kts files
  packages/cli-platform-android/src/config/__tests__/findLibraryName.test.ts
  packages/cli-platform-android/src/config/findLibraryName.ts
Labels: bugfix

#2453 feat: support ESM in `react-native.config`
  __e2e__/config.test.ts
  packages/cli-config/src/__tests__/index-test.ts
  packages/cli-config/src/index.ts
  packages/cli-config/src/loadConfig.ts
  packages/cli-config/src/readConfigFromDisk.ts
  packages/cli-doctor/src/commands/doctor.ts
  packages/cli-doctor/src/tools/healthchecks/index.ts
  packages/cli-types/src/index.ts
  packages/cli/src/index.ts
Labels: feature

#2547 chore: remove unused native_modules files
  .gitignore
  docs/autolinking.md
  packages/cli-platform-android/native_modules.gradle
  packages/cli-platform-android/package.json
  packages/cli-platform-ios/native_modules.rb
  packages/cli-platform-ios/package.json
  packages/cli-platform-ios/src/config/__tests__/native_modules.test.ts
  packages/cli-types/src/ios.ts
Labels: docs, infra

#2554 chore: remove deprecated react legacy components from config
  docs/projects.md
  packages/cli-config-android/src/config/__tests__/__snapshots__/getProjectConfig.test.ts.snap
  packages/cli-config-android/src/config/index.ts
  packages/cli-config-apple/src/config/index.ts
  packages/cli-config/src/schema.ts
  packages/cli-platform-android/src/commands/runAndroid/__tests__/tryLaunchAppOnDevice.test.ts
  packages/cli-types/src/android.ts
Labels: docs, infra
